In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_csv("/content/drive/MyDrive/Project/sequences2_d.csv")
df1.tail()

      Descriptor                                           Sequence
13052   >d4ogca3  gsavsrvapdplpgqgsfrrapkcdpefqrfriisivanlrisetk...
13053   >d5axwa3  vennegrrskrgarrlkrrrrhriqrvkkllfdynlltdhselsgi...
13054   >d4oo8a3  aeatrlkrtarrrytrrknrilylqeifsnemakvddsffhrlees...
13055   >d3jb9a5  lekqlnerarkwrasqkskfgvkrkqgyvqtekadlppehlrkimk...
13056   >d5gmkf_  serkainkyyppdynpleaeklsrkmakklktmnkshasirlmtpf...

In [ ]:
classes= pd.read_csv("/content/drive/MyDrive/Project/classes_d.csv")
classes.tail()

      class
13052     d
13053     d
13054     d
13055     d
13056     d

In [ ]:
df=pd.concat([df1,classes], axis=1)
df.tail()

      Descriptor                                           Sequence class
13052   >d4ogca3  gsavsrvapdplpgqgsfrrapkcdpefqrfriisivanlrisetk...     d
13053   >d5axwa3  vennegrrskrgarrlkrrrrhriqrvkkllfdynlltdhselsgi...     d
13054   >d4oo8a3  aeatrlkrtarrrytrrknrilylqeifsnemakvddsffhrlees...     d
13055   >d3jb9a5  lekqlnerarkwrasqkskfgvkrkqgyvqtekadlppehlrkimk...     d
13056   >d5gmkf_  serkainkyyppdynpleaeklsrkmakklktmnkshasirlmtpf...     d

In [ ]:
df2= pd.read_csv("/content/drive/MyDrive/Project/Features_PSSM/AAC_PSSM2.csv")
df2.head()

   Unnamed: 0 pssm_short_names  ...     V19     V20
0           1     d12asa_.pssm  ... -1.5291 -1.2630
1           2     d16vpa_.pssm  ... -1.1629 -0.9747
2           3     d1914a1.pssm  ... -1.1026 -0.8205
3           4     d1914a2.pssm  ... -1.3814 -0.7216
4           5     d1a04a1.pssm  ... -3.3881 -2.0896

[5 rows x 24 columns]

In [ ]:
df2=df2.drop(df2.columns[0], axis=1)

In [ ]:
df2=df2.drop(columns=['pssm_names', 'X'], axis=1)

In [ ]:
df2[['d1','d2']]=df2['pssm_short_names'].str.split('.pssm', n=1, expand=True) 
df2.tail()

      pssm_short_names      V1      V2      V3  ...     V19     V20       d1  d2
14225     g2a73.1.pssm -0.5810 -1.2381 -0.9238  ... -1.6095 -0.6476  g2a73.1
14226     g2dg5.1.pssm -0.9428 -2.4410 -2.0996  ... -2.6734 -2.1679  g2dg5.1
14227     g2vt1.1.pssm -0.5243 -1.6214 -2.2621  ... -1.9612 -0.8155  g2vt1.1
14228     g3bzy.1.pssm -0.6238 -1.6535 -2.0495  ... -1.8218 -0.8713  g3bzy.1
14229     g3n55.1.pssm -0.6218 -1.4538 -0.7059  ... -1.3613 -0.4874  g3n55.1

[5 rows x 23 columns]

In [ ]:
df2=df2.drop(columns=['pssm_short_names', 'd2'], axis=1)
df2.head()

       V1      V2      V3      V4  ...     V18     V19     V20       d1
0 -0.9358 -1.1131 -1.3547 -1.3731  ... -2.7676 -1.5291 -1.2630  d12asa_
1 -0.3848 -0.8455 -1.0393 -1.3680  ... -2.2837 -1.1629 -0.9747  d16vpa_
2 -0.6795 -0.4744 -0.7821 -1.2179  ... -2.3590 -1.1026 -0.8205  d1914a1
3 -0.4330 -0.4330 -0.8557 -1.2887  ... -2.3196 -1.3814 -0.7216  d1914a2
4 -1.3881 -1.6269 -2.5821 -3.0299  ... -4.9552 -3.3881 -2.0896  d1a04a1

[5 rows x 21 columns]

In [ ]:
df2.tail()

           V1      V2      V3      V4  ...     V18     V19     V20       d1
14225 -0.5810 -1.2381 -0.9238 -0.8952  ... -2.3619 -1.6095 -0.6476  g2a73.1
14226 -0.9428 -2.4410 -2.0996 -2.5793  ... -3.7306 -2.6734 -2.1679  g2dg5.1
14227 -0.5243 -1.6214 -2.2621 -2.2816  ... -3.6796 -1.9612 -0.8155  g2vt1.1
14228 -0.6238 -1.6535 -2.0495 -2.0990  ... -3.5743 -1.8218 -0.8713  g3bzy.1
14229 -0.6218 -1.4538 -0.7059 -1.1261  ... -2.6303 -1.3613 -0.4874  g3n55.1

[5 rows x 21 columns]

In [ ]:
df[['t','d1']]=df['Descriptor'].str.split('>', n=1, expand=True) 
df.tail()

      Descriptor                                           Sequence  ... t       d1
13052   >d4ogca3  gsavsrvapdplpgqgsfrrapkcdpefqrfriisivanlrisetk...  ...    d4ogca3
13053   >d5axwa3  vennegrrskrgarrlkrrrrhriqrvkkllfdynlltdhselsgi...  ...    d5axwa3
13054   >d4oo8a3  aeatrlkrtarrrytrrknrilylqeifsnemakvddsffhrlees...  ...    d4oo8a3
13055   >d3jb9a5  lekqlnerarkwrasqkskfgvkrkqgyvqtekadlppehlrkimk...  ...    d3jb9a5
13056   >d5gmkf_  serkainkyyppdynpleaeklsrkmakklktmnkshasirlmtpf...  ...    d5gmkf_

[5 rows x 5 columns]

In [ ]:
df=df.drop(columns=['t'], axis=1)
df.head()

  Descriptor                                           Sequence class       d1
0   >d1dlwa_  slfeqlggqaavqavtaqfyaniqadatvatffngidmpnqtnkta...     a  d1dlwa_
1   >d2gkma_  gllsrlrkrepisiydkiggheaievvvedffvrvladdqlsaffs...     a  d2gkma_
2   >d1ngka_  ksfydavggaktfdaivsrfyaqvaedevlrrvypeddlagaeerl...     a  d1ngka_
3   >d2bkma_  eqwqtlyeaiggeetvaklveafyrrvaahpdlrpifpddltetah...     a  d2bkma_
4   >d4i0va_  aslyeklggaaavdlavekfygkvladervnrffvntdmakqkqhq...     a  d4i0va_

In [ ]:
df2["class"]=""
df2.head()

       V1      V2      V3      V4  ...     V19     V20       d1  class
0 -0.9358 -1.1131 -1.3547 -1.3731  ... -1.5291 -1.2630  d12asa_
1 -0.3848 -0.8455 -1.0393 -1.3680  ... -1.1629 -0.9747  d16vpa_
2 -0.6795 -0.4744 -0.7821 -1.2179  ... -1.1026 -0.8205  d1914a1
3 -0.4330 -0.4330 -0.8557 -1.2887  ... -1.3814 -0.7216  d1914a2
4 -1.3881 -1.6269 -2.5821 -3.0299  ... -3.3881 -2.0896  d1a04a1

[5 rows x 22 columns]

In [ ]:
df2.iloc[0,20]

'd12asa_'

In [ ]:
type(df.iloc[0,2])

str

In [ ]:
df.iloc[0,3]

'd1dlwa_'

In [ ]:

index_to_remove=[]
for i in range(0,14230):
  flag=0
  for j in range(0,13057):
    if(df2.iloc[i,20]==df.iloc[j,3]):
      flag=1

      df2.at[i, 'class']= df.iloc[j,2]
      break
  if(flag==0):
    index_to_remove.append(i)
    df2.at[i, 'class']= 'x'

In [ ]:
index_to_remove

[11,
 15,
 35,
 64,
 66,
 69,
 70,
 71,
 76,
 78,
 79,
 80,
 89,
 96,
 102,
 106,
 115,
 116,
 123,
 127,
 135,
 140,
 188,
 194,
 201,
 202,
 203,
 214,
 228,
 236,
 240,
 251,
 261,
 262,
 274,
 279,
 280,
 294,
 304,
 318,
 326,
 335,
 343,
 347,
 370,
 378,
 381,
 383,
 386,
 402,
 406,
 409,
 425,
 450,
 457,
 459,
 471,
 482,
 506,
 507,
 512,
 531,
 534,
 537,
 541,
 545,
 547,
 554,
 579,
 585,
 590,
 591,
 595,
 597,
 604,
 608,
 609,
 610,
 623,
 629,
 652,
 672,
 699,
 729,
 735,
 740,
 743,
 752,
 762,
 766,
 788,
 793,
 797,
 798,
 825,
 827,
 828,
 829,
 830,
 832,
 846,
 900,
 905,
 914,
 915,
 926,
 933,
 936,
 938,
 939,
 966,
 973,
 981,
 1001,
 1010,
 1013,
 1022,
 1027,
 1031,
 1051,
 1052,
 1066,
 1067,
 1068,
 1070,
 1079,
 1090,
 1109,
 1146,
 1148,
 1150,
 1180,
 1231,
 1254,
 1255,
 1257,
 1269,
 1299,
 1324,
 1338,
 1339,
 1347,
 1351,
 1352,
 1355,
 1367,
 1383,
 1385,
 1397,
 1407,
 1437,
 1440,
 1451,
 1456,
 1482,
 1490,
 1501,
 1506,
 1508,
 1516,
 1518,
 1535,
 1539,
 1571,
 1579,
 1588,
 1589,
 1594,
 1596,
 1630,
 1651,
 1659,
 1660,
 1675,
 1716,
 1727,
 1730,
 1750,
 1765,
 1766,
 1767,
 1768,
 1782,
 1807,
 1825,
 1835,
 1855,
 1856,
 1859,
 1882,
 1888,
 1895,
 1938,
 1983,
 1987,
 1993,
 2003,
 2037,
 2047,
 2050,
 2057,
 2058,
 2080,
 2081,
 2086,
 2097,
 2117,
 2118,
 2119,
 2120,
 2139,
 2156,
 2157,
 2166,
 2169,
 2195,
 2219,
 2231,
 2242,
 2255,
 2270,
 2277,
 2278,
 2286,
 2289,
 2290,
 2296,
 2306,
 2315,
 2322,
 2326,
 2333,
 2343,
 2351,
 2352,
 2353,
 2354,
 2366,
 2381,
 2382,
 2387,
 2388,
 2391,
 2400,
 2401,
 2411,
 2414,
 2418,
 2424,
 2426,
 2444,
 2452,
 2460,
 2493,
 2503,
 2504,
 2505,
 2515,
 2520,
 2527,
 2533,
 2545,
 2556,
 2559,
 2564,
 2605,
 2607,
 2608,
 2622,
 2650,
 2667,
 2669,
 2674,
 2684,
 2685,
 2691,
 2703,
 2708,
 2731,
 2754,
 2755,
 2756,
 2760,
 2794,
 2861,
 2865,
 2874,
 2877,
 2888,
 2889,
 2921,
 2928,
 2930,
 2933,
 2946,
 2947,
 2948,
 2961,
 2993,
 3035,
 3041,
 3075,
 3094,
 3101,
 3113,
 3121,
 3129,
 3133,
 3139,
 3141,
 3144,
 3168,
 3192,
 3205,
 3206,
 3207,
 3208,
 3210,
 3211,
 3242,
 3245,
 3246,
 3251,
 3252,
 3256,
 3263,
 3301,
 3306,
 3308,
 3325,
 3331,
 3333,
 3334,
 3335,
 3336,
 3371,
 3399,
 3400,
 3401,
 3403,
 3416,
 3454,
 3455,
 3456,
 3475,
 3481,
 3491,
 3497,
 3504,
 3508,
 3529,
 3547,
 3586,
 3587,
 3593,
 3594,
 3596,
 3597,
 3598,
 3614,
 3617,
 3625,
 3649,
 3652,
 3653,
 3658,
 3684,
 3685,
 3686,
 3698,
 3710,
 3747,
 3787,
 3797,
 3817,
 3818,
 3819,
 3820,
 3821,
 3824,
 3832,
 3836,
 3839,
 3850,
 3851,
 3856,
 3863,
 3881,
 3886,
 3887,
 3888,
 3889,
 3912,
 3939,
 3942,
 3958,
 3968,
 4025,
 4064,
 4065,
 4073,
 4076,
 4077,
 4098,
 4112,
 4120,
 4121,
 4124,
 4166,
 4174,
 4175,
 4180,
 4181,
 4184,
 4200,
 4220,
 4230,
 4236,
 4251,
 4252,
 4256,
 4257,
 4262,
 4263,
 4280,
 4283,
 4291,
 4320,
 4321,
 4332,
 4349,
 4373,
 4379,
 4380,
 4397,
 4410,
 4432,
 4444,
 4470,
 4477,
 4479,
 4483,
 4490,
 4497,
 4498,
 4503,
 4504,
 4513,
 4549,
 4565,
 4566,
 4567,
 4586,
 4603,
 4606,
 4637,
 4644,
 4659,
 4667,
 4669,
 4694,
 4721,
 4736,
 4751,
 4794,
 4796,
 4816,
 4821,
 4824,
 4842,
 4848,
 4850,
 4853,
 4888,
 4912,
 4932,
 4977,
 4978,
 4981,
 4982,
 4984,
 4993,
 4994,
 4996,
 5000,
 5012,
 5052,
 5054,
 5055,
 5056,
 5058,
 5065,
 5073,
 5074,
 5078,
 5079,
 5143,
 5150,
 5167,
 5168,
 5179,
 5187,
 5212,
 5242,
 5245,
 5264,
 5265,
 5268,
 5290,
 5295,
 5296,
 5297,
 5298,
 5299,
 5300,
 5301,
 5303,
 5305,
 5306,
 5328,
 5334,
 5353,
 5368,
 5395,
 5397,
 5403,
 5419,
 5423,
 5450,
 5453,
 5459,
 5465,
 5481,
 5487,
 5488,
 5505,
 5512,
 5516,
 5548,
 5606,
 5691,
 5717,
 5718,
 5721,
 5724,
 5759,
 5779,
 5794,
 5804,
 5816,
 5820,
 5826,
 5829,
 5833,
 5866,
 5872,
 5874,
 5893,
 5894,
 5899,
 5917,
 5934,
 5938,
 5939,
 5942,
 5993,
 6007,
 6020,
 6068,
 6088,
 6096,
 6113,
 6121,
 6131,
 6142,
 6149,
 6151,
 6152,
 6154,
 6163,
 6164,
 6173,
 6186,
 6208,
 6209,
 6234,
 6242,
 6243,
 6265,
 6283,
 6293,
 6329,
 6341,
 6342,
 6343,
 6351,
 6379,
 6428,
 6470,
 6479,
 6480,
 6496,
 6503,
 6506,
 6507,
 6508,
 6518,
 6519,
 6527,
 6528,
 6529,
 6547,
 6548,
 6560,
 6572,
 6580,
 6581,
 6589,
 6590,
 6592,
 6593,
 6595,
 6596,
 6617,
 6618,
 6619,
 6668,
 6671,
 6699,
 6705,
 6711,
 6712,
 6713,
 6714,
 6715,
 6730,
 6731,
 6732,
 6746,
 6769,
 6777,
 6793,
 6794,
 6795,
 6796,
 6797,
 6798,
 6799,
 6800,
 6809,
 6839,
 6840,
 6842,
 6844,
 6906,
 6907,
 6908,
 6929,
 6932,
 6973,
 6976,
 6986,
 6987,
 6988,
 6990,
 7010,
 7043,
 7057,
 7113,
 7114,
 7115,
 7124,
 7127,
 7128,
 7129,
 7130,
 7131,
 7152,
 7155,
 7156,
 7166,
 7188,
 7190,
 7193,
 7223,
 7273,
 7275,
 7306,
 7336,
 7338,
 7339,
 7374,
 7378,
 7379,
 7408,
 7409,
 7410,
 7411,
 7442,
 7463,
 7474,
 7484,
 7487,
 7531,
 7533,
 7539,
 7540,
 7543,
 7545,
 7574,
 7575,
 7576,
 7580,
 7605,
 7659,
 7666,
 7703,
 7713,
 7719,
 7729,
 7746,
 7750,
 7754,
 7772,
 7773,
 7801,
 7821,
 7837,
 7913,
 7914,
 7947,
 7958,
 7963,
 7964,
 7974,
 7978,
 8028,
 8045,
 8049,
 8051,
 8058,
 8061,
 8067,
 8069,
 8078,
 8079,
 8083,
 8084,
 8097,
 8099,
 8115,
 8116,
 8123,
 8124,
 8128,
 8144,
 8151,
 8160,
 8161,
 8172,
 8185,
 8186,
 8189,
 8190,
 8207,
 8209,
 8213,
 8218,
 8227,
 8234,
 8239,
 8246,
 8247,
 8248,
 8250,
 8260,
 8306,
 8338,
 8359,
 8360,
 8375,
 8376,
 8380,
 8409,
 8416,
 8433,
 8439,
 8460,
 8469,
 8475,
 8571,
 8588,
 8598,
 8608,
 8636,
 8641,
 8642,
 8644,
 8679,
 8695,
 8698,
 8718,
 8719,
 8728,
 8740,
 8746,
 8788,
 8818,
 8839,
 8842,
 8860,
 8870,
 8895,
 8918,
 9013,
 9016,
 9020,
 9036,
 9037,
 9039,
 9051,
 9063,
 9078,
 9084,
 9088,
 9114,
 9124,
 9139,
 9161,
 9174,
 9184,
 9187,
 9200,
 9222,
 9244,
 9253,
 9260,
 9261,
 9339,
 9351,
 9403,
 9406,
 9414,
 9438,
 9440,
 9458,
 9474,
 9476,
 9490,
 9499,
 9512,
 9530,
 9550,
 9565,
 9588,
 9599,
 9629,
 9630,
 9632,
 9634,
 9641,
 9645,
 9666,
 9667,
 9679,
 9680,
 9682,
 9683,
 9685,
 9686,
 9688,
 9689,
 9690,
 9691,
 9692,
 9715,
 9742,
 9774,
 9791,
 9799,
 9833,
 9838,
 9875,
 9880,
 9899,
 9917,
 9978,
 9988,
 10009,
 10020,
 10031,
 10032,
 10034,
 10035,
 10036,
 10037,
 10038,
 10039,
 10063,
 10064,
 10094,
 10095,
 10116,
 10117,
 10142,
 10149,
 10154,
 10155,
 10171,
 10217,
 10238,
 10255,
 10256,
 10257,
 10258,
 10297,
 10319,
 10405,
 10406,
 10413,
 10424,
 10445,
 10455,
 10456,
 10459,
 10475,
 10494,
 10516,
 10519,
 10552,
 10557,
 10565,
 10566,
 10642,
 10644,
 10666,
 10676,
 10685,
 10699,
 10705,
 10706,
 10714,
 10715,
 10716,
 10724,
 10726,
 10732,
 10734,
 10735,
 10736,
 10737,
 10738,
 10777,
 10801,
 10812,
 10818,
 10831,
 10842,
 10912,
 10929,
 10939,
 10955,
 10959,
 10970,
 10987,
 10994,
 11037,
 11042,
 11057,
 11093,
 11112,
 11114,
 11123,
 11141,
 11145,
 11165,
 11195,
 11229,
 11252,
 11258,
 11264,
 11271,
 11284,
 11300,
 11306,
 11331,
 11335,
 11343,
 11357,
 11381,
 11407,
 11450,
 11460,
 11501,
 11502,
 11503,
 11530,
 11545,
 11547,
 11555,
 ...]

In [ ]:
index = pd.DataFrame(index_to_remove,columns =['Index'])
index.head()

   Index
0     11
1     15
2     35
3     64
4     66

In [ ]:
index_remove=[11,
 15,
 35,
 64,
 66,
 69,
 70,
 71,
 76,
 78,
 79,
 80,
 89,
 96,
 102,
 106,
 115,
 116,
 123,
 127,
 135,
 140,
 188,
 194,
 201,
 202,
 203,
 214,
 228,
 236,
 240,
 251,
 261,
 262,
 274,
 279,
 280,
 294,
 304,
 318,
 326,
 335,
 343,
 347,
 370,
 378,
 381,
 383,
 386,
 402,
 406,
 409,
 425,
 450,
 457,
 459,
 471,
 482,
 506,
 507,
 512,
 531,
 534,
 537,
 541,
 545,
 547,
 554,
 579,
 585,
 590,
 591,
 595,
 597,
 604,
 608,
 609,
 610,
 623,
 629,
 652,
 672,
 699,
 729,
 735,
 740,
 743,
 752,
 762,
 766,
 788,
 793,
 797,
 798,
 825,
 827,
 828,
 829,
 830,
 832,
 846,
 900,
 905,
 914,
 915,
 926,
 933,
 936,
 938,
 939,
 966,
 973,
 981,
 1001,
 1010,
 1013,
 1022,
 1027,
 1031,
 1051,
 1052,
 1066,
 1067,
 1068,
 1070,
 1079,
 1090,
 1109,
 1146,
 1148,
 1150,
 1180,
 1231,
 1254,
 1255,
 1257,
 1269,
 1299,
 1324,
 1338,
 1339,
 1347,
 1351,
 1352,
 1355,
 1367,
 1383,
 1385,
 1397,
 1407,
 1437,
 1440,
 1451,
 1456,
 1482,
 1490,
 1501,
 1506,
 1508,
 1516,
 1518,
 1535,
 1539,
 1571,
 1579,
 1588,
 1589,
 1594,
 1596,
 1630,
 1651,
 1659,
 1660,
 1675,
 1716,
 1727,
 1730,
 1750,
 1765,
 1766,
 1767,
 1768,
 1782,
 1807,
 1825,
 1835,
 1855,
 1856,
 1859,
 1882,
 1888,
 1895,
 1938,
 1983,
 1987,
 1993,
 2003,
 2037,
 2047,
 2050,
 2057,
 2058,
 2080,
 2081,
 2086,
 2097,
 2117,
 2118,
 2119,
 2120,
 2139,
 2156,
 2157,
 2166,
 2169,
 2195,
 2219,
 2231,
 2242,
 2255,
 2270,
 2277,
 2278,
 2286,
 2289,
 2290,
 2296,
 2306,
 2315,
 2322,
 2326,
 2333,
 2343,
 2351,
 2352,
 2353,
 2354,
 2366,
 2381,
 2382,
 2387,
 2388,
 2391,
 2400,
 2401,
 2411,
 2414,
 2418,
 2424,
 2426,
 2444,
 2452,
 2460,
 2493,
 2503,
 2504,
 2505,
 2515,
 2520,
 2527,
 2533,
 2545,
 2556,
 2559,
 2564,
 2605,
 2607,
 2608,
 2622,
 2650,
 2667,
 2669,
 2674,
 2684,
 2685,
 2691,
 2703,
 2708,
 2731,
 2754,
 2755,
 2756,
 2760,
 2794,
 2861,
 2865,
 2874,
 2877,
 2888,
 2889,
 2921,
 2928,
 2930,
 2933,
 2946,
 2947,
 2948,
 2961,
 2993,
 3035,
 3041,
 3075,
 3094,
 3101,
 3113,
 3121,
 3129,
 3133,
 3139,
 3141,
 3144,
 3168,
 3192,
 3205,
 3206,
 3207,
 3208,
 3210,
 3211,
 3242,
 3245,
 3246,
 3251,
 3252,
 3256,
 3263,
 3301,
 3306,
 3308,
 3325,
 3331,
 3333,
 3334,
 3335,
 3336,
 3371,
 3399,
 3400,
 3401,
 3403,
 3416,
 3454,
 3455,
 3456,
 3475,
 3481,
 3491,
 3497,
 3504,
 3508,
 3529,
 3547,
 3586,
 3587,
 3593,
 3594,
 3596,
 3597,
 3598,
 3614,
 3617,
 3625,
 3649,
 3652,
 3653,
 3658,
 3684,
 3685,
 3686,
 3698,
 3710,
 3747,
 3787,
 3797,
 3817,
 3818,
 3819,
 3820,
 3821,
 3824,
 3832,
 3836,
 3839,
 3850,
 3851,
 3856,
 3863,
 3881,
 3886,
 3887,
 3888,
 3889,
 3912,
 3939,
 3942,
 3958,
 3968,
 4025,
 4064,
 4065,
 4073,
 4076,
 4077,
 4098,
 4112,
 4120,
 4121,
 4124,
 4166,
 4174,
 4175,
 4180,
 4181,
 4184,
 4200,
 4220,
 4230,
 4236,
 4251,
 4252,
 4256,
 4257,
 4262,
 4263,
 4280,
 4283,
 4291,
 4320,
 4321,
 4332,
 4349,
 4373,
 4379,
 4380,
 4397,
 4410,
 4432,
 4444,
 4470,
 4477,
 4479,
 4483,
 4490,
 4497,
 4498,
 4503,
 4504,
 4513,
 4549,
 4565,
 4566,
 4567,
 4586,
 4603,
 4606,
 4637,
 4644,
 4659,
 4667,
 4669,
 4694,
 4721,
 4736,
 4751,
 4794,
 4796,
 4816,
 4821,
 4824,
 4842,
 4848,
 4850,
 4853,
 4888,
 4912,
 4932,
 4977,
 4978,
 4981,
 4982,
 4984,
 4993,
 4994,
 4996,
 5000,
 5012,
 5052,
 5054,
 5055,
 5056,
 5058,
 5065,
 5073,
 5074,
 5078,
 5079,
 5143,
 5150,
 5167,
 5168,
 5179,
 5187,
 5212,
 5242,
 5245,
 5264,
 5265,
 5268,
 5290,
 5295,
 5296,
 5297,
 5298,
 5299,
 5300,
 5301,
 5303,
 5305,
 5306,
 5328,
 5334,
 5353,
 5368,
 5395,
 5397,
 5403,
 5419,
 5423,
 5450,
 5453,
 5459,
 5465,
 5481,
 5487,
 5488,
 5505,
 5512,
 5516,
 5548,
 5606,
 5691,
 5717,
 5718,
 5721,
 5724,
 5759,
 5779,
 5794,
 5804,
 5816,
 5820,
 5826,
 5829,
 5833,
 5866,
 5872,
 5874,
 5893,
 5894,
 5899,
 5917,
 5934,
 5938,
 5939,
 5942,
 5993,
 6007,
 6020,
 6068,
 6088,
 6096,
 6113,
 6121,
 6131,
 6142,
 6149,
 6151,
 6152,
 6154,
 6163,
 6164,
 6173,
 6186,
 6208,
 6209,
 6234,
 6242,
 6243,
 6265,
 6283,
 6293,
 6329,
 6341,
 6342,
 6343,
 6351,
 6379,
 6428,
 6470,
 6479,
 6480,
 6496,
 6503,
 6506,
 6507,
 6508,
 6518,
 6519,
 6527,
 6528,
 6529,
 6547,
 6548,
 6560,
 6572,
 6580,
 6581,
 6589,
 6590,
 6592,
 6593,
 6595,
 6596,
 6617,
 6618,
 6619,
 6668,
 6671,
 6699,
 6705,
 6711,
 6712,
 6713,
 6714,
 6715,
 6730,
 6731,
 6732,
 6746,
 6769,
 6777,
 6793,
 6794,
 6795,
 6796,
 6797,
 6798,
 6799,
 6800,
 6809,
 6839,
 6840,
 6842,
 6844,
 6906,
 6907,
 6908,
 6929,
 6932,
 6973,
 6976,
 6986,
 6987,
 6988,
 6990,
 7010,
 7043,
 7057,
 7113,
 7114,
 7115,
 7124,
 7127,
 7128,
 7129,
 7130,
 7131,
 7152,
 7155,
 7156,
 7166,
 7188,
 7190,
 7193,
 7223,
 7273,
 7275,
 7306,
 7336,
 7338,
 7339,
 7374,
 7378,
 7379,
 7408,
 7409,
 7410,
 7411,
 7442,
 7463,
 7474,
 7484,
 7487,
 7531,
 7533,
 7539,
 7540,
 7543,
 7545,
 7574,
 7575,
 7576,
 7580,
 7605,
 7659,
 7666,
 7703,
 7713,
 7719,
 7729,
 7746,
 7750,
 7754,
 7772,
 7773,
 7801,
 7821,
 7837,
 7913,
 7914,
 7947,
 7958,
 7963,
 7964,
 7974,
 7978,
 8028,
 8045,
 8049,
 8051,
 8058,
 8061,
 8067,
 8069,
 8078,
 8079,
 8083,
 8084,
 8097,
 8099,
 8115,
 8116,
 8123,
 8124,
 8128,
 8144,
 8151,
 8160,
 8161,
 8172,
 8185,
 8186,
 8189,
 8190,
 8207,
 8209,
 8213,
 8218,
 8227,
 8234,
 8239,
 8246,
 8247,
 8248,
 8250,
 8260,
 8306,
 8338,
 8359,
 8360,
 8375,
 8376,
 8380,
 8409,
 8416,
 8433,
 8439,
 8460,
 8469,
 8475,
 8571,
 8588,
 8598,
 8608,
 8636,
 8641,
 8642,
 8644,
 8679,
 8695,
 8698,
 8718,
 8719,
 8728,
 8740,
 8746,
 8788,
 8818,
 8839,
 8842,
 8860,
 8870,
 8895,
 8918,
 9013,
 9016,
 9020,
 9036,
 9037,
 9039,
 9051,
 9063,
 9078,
 9084,
 9088,
 9114,
 9124,
 9139,
 9161,
 9174,
 9184,
 9187,
 9200,
 9222,
 9244,
 9253,
 9260,
 9261,
 9339,
 9351,
 9403,
 9406,
 9414,
 9438,
 9440,
 9458,
 9474,
 9476,
 9490,
 9499,
 9512,
 9530,
 9550,
 9565,
 9588,
 9599,
 9629,
 9630,
 9632,
 9634,
 9641,
 9645,
 9666,
 9667,
 9679,
 9680,
 9682,
 9683,
 9685,
 9686,
 9688,
 9689,
 9690,
 9691,
 9692,
 9715,
 9742,
 9774,
 9791,
 9799,
 9833,
 9838,
 9875,
 9880,
 9899,
 9917,
 9978,
 9988,
 10009,
 10020,
 10031,
 10032,
 10034,
 10035,
 10036,
 10037,
 10038,
 10039,
 10063,
 10064,
 10094,
 10095,
 10116,
 10117,
 10142,
 10149,
 10154,
 10155,
 10171,
 10217,
 10238,
 10255,
 10256,
 10257,
 10258,
 10297,
 10319,
 10405,
 10406,
 10413,
 10424,
 10445,
 10455,
 10456,
 10459,
 10475,
 10494,
 10516,
 10519,
 10552,
 10557,
 10565,
 10566,
 10642,
 10644,
 10666,
 10676,
 10685,
 10699,
 10705,
 10706,
 10714,
 10715,
 10716,
 10724,
 10726,
 10732,
 10734,
 10735,
 10736,
 10737,
 10738,
 10777,
 10801,
 10812,
 10818,
 10831,
 10842,
 10912,
 10929,
 10939,
 10955,
 10959,
 10970,
 10987,
 10994,
 11037,
 11042,
 11057,
 11093,
 11112,
 11114,
 11123,
 11141,
 11145,
 11165,
 11195,
 11229,
 11252,
 11258,
 11264,
 11271,
 11284,
 11300,
 11306,
 11331,
 11335,
 11343,
 11357,
 11381,
 11407,
 11450,
 11460,
 11501,
 11502,
 11503,
 11530,
 11545,
 11547,
 11555,
 ...]

In [ ]:
index = pd.DataFrame(index_remove,columns =['Index'])
index.head()

  Index
0    11
1    15
2    35
3    64
4    66

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Index   1001 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [ ]:
index.to_csv("/content/drive/MyDrive/Project/Features_PSSM/index_to_remove_for_features.csv",index=False)

In [ ]:
df2.to_csv("/content/drive/MyDrive/Project/Features_PSSM/output_AAC_PSSM.csv",index=False)

In [ ]:
i=1
df2.at[i, 'class']= ''
df2.head()

       V1      V2      V3      V4  ...     V19     V20       d1  class
0 -0.9358 -1.1131 -1.3547 -1.3731  ... -1.5291 -1.2630  d12asa_
1 -0.3848 -0.8455 -1.0393 -1.3680  ... -1.1629 -0.9747  d16vpa_
2 -0.6795 -0.4744 -0.7821 -1.2179  ... -1.1026 -0.8205  d1914a1
3 -0.4330 -0.4330 -0.8557 -1.2887  ... -1.3814 -0.7216  d1914a2
4 -1.3881 -1.6269 -2.5821 -3.0299  ... -3.3881 -2.0896  d1a04a1

[5 rows x 22 columns]

In [ ]:
header_list=['D1']
pssm_list = pd.read_csv('pssm.txt',names=header_list,header=None)
pssm_list=pssm_list.iloc[:14185,:]
pssm_list[['d1','d2']]=pssm_list['D1'].str.split('.', n=1, expand=True) 
pssm_list = pssm_list.drop(['D1','d2'], axis=1)
pssm_list['t']='>'
pssm_list['d1']=pssm_list['t']+pssm_list['d1']
pssm_list = pssm_list.drop(['t'],axis=1)
pssm_list.tail()

             d1
14180  >d7ahla_
14181  >d7mdha2
14182  >d7odca1
14183  >d7odca2
14184  >d8abpa_